<h1>Current Assignments</h1>
<p>Womble name and assignments are below:</p>

{{#each returnedData}}

<ul>
  <li><strong>{{name}}</strong> RID: {{rubbish_id}} - {{trash}}</li>
</ul>

{{/each }}
<li><a href="/">Home</a></li>

<img src="http://wearewhiteriver.com/wp-content/uploads/2016/03/wombles-white-river.jpg" />