<h1>Welcome to the Wombles Dashboard</h1>

<ul>
    <li><a href="/add">Add Womble</a></li>
    <li><a href="/view">View Wombles</a></li>
    <li><a href="/assignments">Current Assignments</a></li>
    <li><a href="/delete">Delete Womble</a></li>
    <li><a href="/update">Update Womble Characteristics</a></li>
    <li><a href="/rubbish">Change Rubbish Assignments</a></li>
    <li><a href="/addtrash">Add New Rubbish</a></li>
    <li><a href="/addstyle">Add New Characteristic</a></li>
</ul>
<img src="https://vignette.wikia.nocookie.net/wombles/images/5/55/The_wombles_season_3_4_and_5.jpg/revision/latest?cb=20120621193946" />