<h1>Add Characteristic</h1>

<form action="/addstyle" method="post">
<input name = "styleDesc" type = "text" placeholder = "Style Description" ></input>

<input type = "submit" value = "submit"></input>
</form>

{{#if submitted}}
    <p>You added {{newStyle}} to the database!</p>
{{/if}}

<li><a href="/">Home</a></li>

<img src="http://www.partywigs.com/acatalog/womble.jpg" />